# Environment
ENVIRONMENT=development
PROJECT_NAME="File Guard API"
VERSION="0.1.0"
API_V1_STR="/api/v1"

# Security
SECRET_KEY="YOUR_SUPER_SECRET_KEY_HERE"
CORS_ORIGINS=["http://localhost:3000", "http://localhost:8080"]

# Database
DATABASE_URL="mongodb://localhost:27017"
DATABASE_NAME="file_guard"

# Logging
LOG_LEVEL="DEBUG"
